{
  "parser": "babel-eslint",
  "rules": {
    "es6": true,
    "semi": [
      "error",
      "always"
    ],
    "indent": [
      "error",
      2
    ],
    "comma-dangle": [
      "error",
      "never"
    ]
  }
}
